In [1]:
#Importing Dependencies

import pandas as pd
import requests
from pprint import pprint
import json
import re
from datetime import datetime

#openings = pd.read_csv("chess_openings.csv")

In [2]:
#Stating Url and Username

url = "https://api.chess.com/pub/player/"
name = "jsteele619"

In [3]:
# For Loop to collect all the months that contain archives (API comes in url form)
query = f"{url}{name}/games/archives"
for queries in query:
    archives = requests.get(query).json()

In [4]:
#Looping to get all the games in all the archives, still sorted by archive 

all_the_games = []

for archive in archives['archives']:
    total_games = requests.get(archive).json()
    all_the_games.append(total_games)

In [5]:
#Finding the number of games in each of archive (for later For Loop)
number_games = [] 

for x in range(101):
    number = len(all_the_games[x]['games'])
    number_games.append(number)

In [6]:
# Getting a useable list of games to For Loop
chess_games = []

for y in range(101):
    soup = all_the_games[y]['games']
    chess_games.append(soup)

In [7]:
# Using zipped For Loop to append all games to one list

zipper = zip(range(101), number_games)
    
total_games = []
for x, b in zipper:
    tots = chess_games[x]
    for y in range(b):
        total = tots[y]
        total_games.append(total)

len(total_games)

13434

In [8]:
# CODE BREAK

In [9]:
#Example result 
# comes in large string format which needs to be further parsed

total_games[10000]

{'url': 'https://www.chess.com/live/game/3566611103',
 'pgn': '[Event "Live Chess"]\n[Site "Chess.com"]\n[Date "2019.03.26"]\n[Round "-"]\n[White "jsteele619"]\n[Black "Vitaly_Grey"]\n[Result "0-1"]\n[CurrentPosition "r7/p3kpp1/1p3n2/2pp2p1/1P6/P2bPP2/2QBK3/R5q1 w - -"]\n[Timezone "UTC"]\n[ECO "D35"]\n[ECOUrl "https://www.chess.com/openings/Queens-Gambit-Declined-Queens-Knight-Variation-3...Nf6"]\n[UTCDate "2019.03.26"]\n[UTCTime "18:03:40"]\n[WhiteElo "2063"]\n[BlackElo "2138"]\n[TimeControl "300"]\n[Termination "Vitaly_Grey won on time"]\n[StartTime "18:03:40"]\n[EndDate "2019.03.26"]\n[EndTime "18:11:46"]\n[Link "https://www.chess.com/live/game/3566611103"]\n\n1. d4 {[%clk 0:04:59.9]} 1... Nf6 {[%clk 0:04:59.3]} 2. c4 {[%clk 0:04:59.2]} 2... e6 {[%clk 0:04:58]} 3. Nc3 {[%clk 0:04:58.4]} 3... d5 {[%clk 0:04:57.5]} 4. e3 {[%clk 0:04:53.8]} 4... Nbd7 {[%clk 0:04:55.9]} 5. Nf3 {[%clk 0:04:53]} 5... b6 {[%clk 0:04:54.8]} 6. cxd5 {[%clk 0:04:52]} 6... exd5 {[%clk 0:04:53.9]} 7. Bd3 {[%clk 0:04:50.5]} 7... Bb7 {[%clk 0:04:53]} 8. O-O {[%clk 0:04:49.4]} 8... Be7 {[%clk 0:04:50]} 9. a3 {[%clk 0:04:48.5]} 9... c5 {[%clk 0:04:47.8]} 10. Re1 {[%clk 0:04:18.7]} 10... O-O {[%clk 0:04:46]} 11. h4 {[%clk 0:04:14.4]} 11... Ne4 {[%clk 0:04:36.7]} 12. h5 {[%clk 0:04:08.4]} 12... h6 {[%clk 0:04:32.3]} 13. Ne2 {[%clk 0:02:58.5]} 13... Ndf6 {[%clk 0:04:11.1]} 14. Nf4 {[%clk 0:02:54.9]} 14... Bd6 {[%clk 0:04:01.7]} 15. Ne5 {[%clk 0:02:51.1]} 15... Qc7 {[%clk 0:03:52.2]} 16. f3 {[%clk 0:01:59.4]} 16... Ng3 {[%clk 0:03:31.4]} 17. Kf2 {[%clk 0:01:02.5]} 17... Ngxh5 {[%clk 0:03:22]} 18. Nxh5 {[%clk 0:01:00.8]} 18... Nxh5 {[%clk 0:03:21.3]} 19. g4 {[%clk 0:00:52]} 19... Nf6 {[%clk 0:03:11.4]} 20. g5 {[%clk 0:00:49.2]} 20... hxg5 {[%clk 0:03:03.4]} 21. Rh1 {[%clk 0:00:43]} 21... Bxe5 {[%clk 0:02:56.9]} 22. dxe5 {[%clk 0:00:41.6]} 22... Qxe5 {[%clk 0:02:55.9]} 23. Qc2 {[%clk 0:00:19]} 23... Rfe8 {[%clk 0:02:37.9]} 24. Bh7+ {[%clk 0:00:18]} 24... Kf8 {[%clk 0:02:36.3]} 25. Bf5 {[%clk 0:00:14.8]} 25... Ke7 {[%clk 0:02:28]} 26. Bd2 {[%clk 0:00:11.8]} 26... Rh8 {[%clk 0:02:22.3]} 27. b4 {[%clk 0:00:10.7]} 27... Rh2+ {[%clk 0:02:20]} 28. Rxh2 {[%clk 0:00:06.9]} 28... Qxh2+ {[%clk 0:02:19.1]} 29. Ke1 {[%clk 0:00:04.1]} 29... Ba6 {[%clk 0:02:14.6]} 30. Bd3 {[%clk 0:00:03]} 30... Qg1+ {[%clk 0:02:12.2]} 31. Ke2 {[%clk 0:00:02.1]} 31... Bxd3+ {[%clk 0:02:09.7]} 0-1',
 'time_control': '300',
 'end_time': 1553623906,
 'rated': True,
 'fen': 'r7/p3kpp1/1p3n2/2pp2p1/1P6/P2bPP2/2QBK3/R5q1 w - -',
 'time_class': 'blitz',
 'rules': 'chess',
 'white': {'rating': 2063,
  'result': 'timeout',
  '@id': 'https://api.chess.com/pub/player/jsteele619',
  'username': 'jsteele619'},
 'black': {'rating': 2138,
  'result': 'win',
  '@id': 'https://api.chess.com/pub/player/vitaly_grey',
  'username': 'Vitaly_Grey'}}

In [24]:
# Creating fancy final For Loop to loop through json data and append data I want to lists

url = []
date = []
time = []

white_name = []
white_rating = []
white_result = []

black_name = []
black_rating = []
black_result = []

eco_code = []
eco_name = []

for i in range(len(total_games)):
    url1 = total_games[i]['url']
    url.append(url1)
    
    date1 = total_games[i]['pgn'].split('\n')[2].split(" ")[1]
    date1 = date1[:-2]
    date1 = date1[1:]
    date.append(date1)
    
    time1 = total_games[i]['pgn'].split('\n')[12].split(" ")[1]
    time1 = time1[:-2]
    time1 = time1[1:]
    
    if len(time1) == 8: 
        time1 = datetime.strptime(time1, '%H:%M:%S')
    else:
        time1 = (None)
    time.append(time1)
    
    white1 = total_games[i]['white']['username']
    white_name.append(white1)
    
    rating1 = total_games[i]['white']['rating']
    white_rating.append(rating1)
    
    result1 = total_games[i]['white']['result']
    white_result.append(result1)
    
    black1 = total_games[i]['black']['username']
    black_name.append(black1)
    
    black2 = total_games[i]['black']['rating']
    black_rating.append(black2)
    
    black3 = total_games[i]['black']['result']
    black_result.append(black3)
    
    eco1 = re.sub("\W", "", total_games[i]['pgn'].split('\n')[9].split(" ")[1])
    eco_code.append(eco1)
    
    try:
        
        eco2 = total_games[i]['pgn'].split('\n')[10].split("/")[4].split("]")[0]
        eco3 = eco2[:-1]
        eco_name.append(eco3)
    except:
        eco_name.append(None)

In [11]:
# Looking for length of "pgn" annotation per games to use in For Loop
pgn_number = []
for i in range(len(total_games)):
    try:
        pgn1 = len(total_games[i]['pgn'].split("\n")[22].split(" "))
        pgn_number.append(pgn1)
    except:
        pgn_number.append(None)

In [12]:
# Zip together length of total_games, and the number of pgn per game

zipper = zip(range(len(total_games)), pgn_number)

pgn_score = []
pgn = []

# Complicated For Loop which only appends the 1st, and 2nd element, 
# while skipping the 3rd and 4th

for y, z in zipper:
    total = total_games[y]
    x = 0
    pgn = []
    
    try:
        for i in range(z):
        
            try:
                x = x + 1
        
                if x == 1:
                    pgn1 = total['pgn'].split("\n")[22].split(" ")[i]
                    pgn.append(pgn1)
               
                elif x == 2:
                    pgn2 = total['pgn'].split("\n")[22].split(" ")[i]
                    pgn.append(pgn2)
    
                elif x == 3:
                    pass
    
                else:
                    x = 0
        
            except:
                pgn_score.append(None)
            
        pgn_score.append(pgn)
    except:
        pgn_score.append(None)

In [13]:
#Example result of pgn_score (computer usable!)
for pgn in pgn_score[12000]:
    print(pgn)

1.
c4
1...
Nf6
2.
Nc3
2...
e5
3.
Nf3
3...
Nc6
4.
d4
4...
exd4
5.
Nxd4
5...
Bc5
6.
Nb3
6...
Bb4
7.
f3
7...
O-O
8.
e4
8...
Nxe4
9.
fxe4
9...
Qh4+
10.
Kd2
10...
d6
11.
a3
11...
Bxc3+
12.
Kxc3
12...
Re8
13.
Bd3
13...
Ne5
14.
g4
14...
Bxg4
15.
Qe1
15...
Qf6
16.
Rf1
16...
Nf3+
17.
Kc2
17...
Nxe1+
18.
Rxe1
18...
Qf2+
19.
Bd2
19...
a5
20.
Nc1
20...
a4
21.
b4
21...
Re7
22.
Rf1
22...
Qxh2
23.
Rb1
23...
Rae8
24.
b5
24...
Rxe4
25.
Bxe4
25...
Rxe4
26.
Nd3
26...
Rxc4+
27.
Kb2
27...
Qxd2+
28.
Ka1
28...
Qxd3
29.
Rb2
29...
Qd4
30.
Re1
30...
Kf8
31.
Ka2
31...
Be6
32.
Rxe6
32...
fxe6
33.
b6
33...
c6
34.
Re2
34...
Ke7
35.
Kb1
35...
Qd1+
36.
Kb2
36...
Qxe2+
0-1

In [14]:
# Creating a master dataframe on the data I collected
total_games_df = {"date": date, "time": time, "white_name": white_name, "white_rating": white_rating,
                 "white_result": white_result, "black_name": black_name, "black_rating": black_rating, 
                 "black_result": black_result, "eco_code": eco_code, "eco_name": eco_name, "pgn_score": pgn_score, "url": url}

the_master_df = pd.DataFrame(total_games_df)
the_master_df.head()

,date,time,white_name,white_rating,white_result,black_name,black_rating,black_result,eco_code,eco_name,pgn_score,url
0,2012.07.22,1900-01-01 20:44:40,jsteele619,1000,checkmated,kevin914,1200,win,C24,Bishops-Opening-Berlin-Defense-3.d3-d5,"[1., e4, 1..., e5, 2., Bc4, 2..., Nf6, 3., d3,...",https://www.chess.com/live/game/332713828
1,2012.07.22,1900-01-01 21:36:00,mupmilan,1043,resigned,jsteele619,1146,win,C50,Italian-Game,"[1., e4, 1..., e5, 2., Nf3, 2..., Nc6, 3., Bc4...",https://www.chess.com/live/game/332735999
2,2012.07.22,1900-01-01 22:01:19,Hoschemal,1133,checkmated,jsteele619,1251,win,C00,French-Defense-Normal-Variation,"[1., d4, 1..., e6, 2., e4, 2..., c6, 3., e5, 3...",https://www.chess.com/live/game/332746229
3,2012.07.22,1900-01-01 22:31:54,jsteele619,1177,resigned,GDhar,1330,win,C44,Scotch-Game,"[1., e4, 1..., e5, 2., Nf3, 2..., Nc6, 3., d4,...",https://www.chess.com/live/game/332758116
4,2012.07.22,1900-01-01 23:07:03,jsteele619,1106,resigned,NaturalBornKiller_94,1355,win,B10,Caro-Kann-Defense-Breyer-Variation-2...d5,"[1., e4, 1..., c6, 2., d3, 2..., d5, 3., f3, 3...",https://www.chess.com/live/game/332771264

In [16]:
the_master_df['date'] = pd.to_datetime(the_master_df['date'])
the_master_df['white_rating'].astype(int)
the_master_df['black_rating'].astype(int)

0        1200
1        1146
2        1251
3        1330
4        1355
         ...
13429    1972
13430    2105
13431    1970
13432    2099
13433    1948
Name: black_rating, Length: 13434, dtype: int64

In [17]:
the_master_df.to_csv("master_df.csv", index=False)

In [ ]:
# Starting the analysis

the_master_df['white_result'].value_counts()