In [1]:
import pandas as pd
from sqlalchemy import create_engine
from config import login

In [2]:
db_url = 'postgresql://' + login + '@localhost:5432/chess_db'
engine = create_engine(db_url)
connection = engine.connect()

In [7]:
master_df = pd.read_csv("csv_files/master_df.csv")
master_df = master_df.set_index("date")

In [8]:
master_df.to_sql('chess', engine, if_exists='append')

In [5]:
#SQL CODE to create table

DROP TABLE "chess";

CREATE TABLE "chess" (
	"date" date,
	"time" varchar(40),
	"white_name" varchar(40),
	"white_rating" int,
	"white_result" varchar(40),
	"white_bool" float,    
	"black_name" varchar(40),
	"black_rating" int,
	"black_result" varchar(40),
	"black_bool" float,
	"eco_code" varchar(10),
	"eco_name" varchar(250),
	"pgn_score" varchar(5000),
	"pgn_string" varchar(5000),    
	"url" varchar(750));

SyntaxError: invalid syntax (<ipython-input-5-090c36626663>, line 3)

In [ ]:
# Finding a game I won using the Caro Kann as black

select * from chess
where black_name = 'jsteele619' and black_result = 'win' and black_rating >= 1900
and eco_name like '%Caro%'

In [ ]:
# Finding white and black win percentage

select sum(white_bool), count(white_bool), cast(sum(white_bool) as float) / cast(count(white_bool) as float) from chess
where white_name = 'jsteele619'

select sum(black_bool), count(black_bool), cast(sum(black_bool) as float) / cast(count(black_bool) as float) from chess
where black_name = 'jsteele619'

In [ ]:
# Finding how many games I've played the King's Indian

select count(black_result), black_result from chess
where black_name = 'jsteele619' 
and eco_name like '%King%'
group by "black_result"

In [ ]:
# Finding my results from the black side of the Ruy Lopez

select eco_name, sum(black_bool), count(black_bool), cast(sum(black_bool) as float) / cast(count(black_bool) as float) as result1 from chess
where black_name = 'jsteele619' and eco_name like '%Ruy%'
group by eco_name
order by result1 desc

In [ ]:
# Finding my white results from the Sicilian

select eco_code, sum(white_bool), count(white_bool), cast(sum(white_bool) as float) / cast(count(white_bool) as float) as result1 from chess
where white_name = 'jsteele619' and eco_name like '%Sicil%'
group by eco_code
order by count desc

In [ ]:
# Percent of games won when playing e5 as black with higher rated opponent

select sum(black_bool), count(black_bool), cast(sum(black_bool) as float) / cast(count(black_bool) as float) as percentage from chess
where black_name = 'jsteele619' and pgn_string like '1. e4 1... e5%'
and black_rating < white_rating