In [116]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine
from config import login

In [117]:
db_url = 'postgresql://' + login + '@localhost:5432/chess_db'
engine = create_engine(db_url)
connection = engine.connect()

In [118]:
master_df = pd.read_csv("csv_files/master_df.csv")
master_df = master_df.set_index("date")

%store -r name

In [119]:
#SQL CODE to create table
drop = "DROP TABLE IF EXISTS chess"
engine.execute(drop)

In [120]:
create = ("CREATE TABLE IF NOT EXISTS chess ( \
	date date, \
	time varchar(40), \
	time_control varchar(10), \
	white_name varchar(40), \
	white_rating int, \
	white_result varchar(40), \
	white_bool float, \
	black_name varchar(40), \
	black_rating int, \
	black_result varchar(40), \
	black_bool float, \
	eco_code varchar(10), \
	eco_name varchar(250), \
	pgn_score varchar(5000), \
	pgn_string varchar(5000), \
	url varchar(750));")

create_sql = engine.execute(create)

In [121]:
master_df.to_sql('chess', engine, if_exists='append')

In [122]:
# BREAK

In [123]:
# Using SQL within Python to find Results by White's Opening Move

# Update Username

white_e4_sql = f"select white_bool, count(white_bool) from chess \
where white_name = '{name}' \
and pgn_string like '1. e4%' \
group by white_bool;"

white_e4 = pd.read_sql(white_e4_sql, connection)

white_d4_sql = f"select white_bool, count(white_bool) from chess \
where white_name = '{name}' \
and pgn_string like '1. d4%' \
group by white_bool;"

white_d4 = pd.read_sql(white_d4_sql, connection)

white_c4_sql = f"select white_bool, count(white_bool) from chess \
where white_name = '{name}' \
and pgn_string like '1. c4%' \
group by white_bool;"

white_c4 = pd.read_sql(white_c4_sql, connection)

white_Nf3_sql = f"select white_bool, count(white_bool) from chess \
where white_name = '{name}' \
and pgn_string like '1. Nf3%' \
group by white_bool;"

white_Nf3 = pd.read_sql(white_Nf3_sql, connection)

white_all = f"select count(pgn_string), substr(pgn_string, 1, 6) as sub \
from chess \
where white_name = '{name}' \
group by sub \
order by count(pgn_string) desc"

white_openings = pd.read_sql(white_all, connection)

In [124]:
white_Nf3

Empty DataFrame
Columns: [white_bool, count]
Index: []

In [125]:
# Using SQL within Python to find Results by Black's Opening Reply

first_move_when_black = f"select count(black_bool), substr(pgn_string, 1, 6) as sub from chess \
where black_name = '{name}' \
and pgn_string like '1.%' \
group by sub \
order by count(black_bool) desc"

first_move_for_black = pd.read_sql(first_move_when_black, connection)

black_e4 = f"select count(pgn_string), substr(pgn_string, 1, 15) as sub \
from chess \
where black_name = '{name}' \
and pgn_string like '1. e4%' \
group by sub \
order by count(pgn_string) desc"

black_against_e4 = pd.read_sql(black_e4, connection)

black_d4 = f"select count(pgn_string), substr(pgn_string, 1, 15) as sub \
from chess \
where black_name = '{name}' \
and pgn_string like '1. d4%' \
group by sub \
order by count(pgn_string) desc"

black_against_d4 = pd.read_sql(black_d4, connection)

black_d4_sql = f"select black_bool, count(black_bool) from chess \
where black_name = '{name}' \
and pgn_string like '1. d4%' \
group by black_bool;"

black_sicilian_sql = f"select black_bool, count(black_bool) from chess \
where black_name = '{name}' \
and pgn_string like '1. e4 1... c5 2%' \
group by black_bool;"

black_sicilian = pd.read_sql(black_sicilian_sql, connection)

black_italian_sql = f"select black_bool, count(black_bool) from chess \
where black_name = '{name}' \
and pgn_string like '1. e4 1... e5%' \
group by black_bool;"

black_italian = pd.read_sql(black_italian_sql, connection)

black_caro_sql = f"select black_bool, count(black_bool) from chess \
where black_name = '{name}' \
and pgn_string like '1. e4 1... c6 2%' \
group by black_bool;"

black_caro = pd.read_sql(black_caro_sql, connection)

black_french_sql = f"select black_bool, count(black_bool) from chess \
where black_name = '{name}' \
and pgn_string like '1. e4 1... e6 2%' \
group by black_bool;"

black_french = pd.read_sql(black_french_sql, connection)


black_indian_sql = f"select black_bool, count(black_bool) from chess \
where black_name = '{name}' \
and pgn_string like '1. d4 1... Nf6%' \
group by black_bool;"

black_indian = pd.read_sql(black_indian_sql, connection)

black_queen_sql = f"select black_bool, count(black_bool) from chess \
where black_name = '{name}' \
and pgn_string like '1. d4 1... d5%' \
group by black_bool;"

black_queens = pd.read_sql(black_queen_sql, connection)

In [126]:
white_e4

   white_bool  count
0         0.0     46
1         0.5      2
2         1.0     55

In [127]:
#Standardizing order and storing variable for global use

white_Nf3 = white_Nf3.sort_values(['white_bool'], ascending=False)
white_c4 = white_c4.sort_values(['white_bool'], ascending=False)
white_d4 = white_d4.sort_values(['white_bool'], ascending=False)
white_e4 = white_e4.sort_values(['white_bool'], ascending=False)

black_sicilian = black_sicilian.sort_values(['black_bool'], ascending=False)
black_italian = black_italian.sort_values(['black_bool'], ascending=False)
black_caro = black_caro.sort_values(['black_bool'], ascending=False)
black_french = black_french.sort_values(['black_bool'], ascending=False)
black_indian = black_indian.sort_values(['black_bool'], ascending=False)
black_queens = black_queens.sort_values(['black_bool'], ascending=False)

%store white_openings
%store white_e4
%store white_d4
%store white_c4
%store white_Nf3

%store first_move_for_black
%store black_against_e4
%store black_against_d4
%store black_sicilian
%store black_italian
%store black_caro
%store black_french
%store black_indian
%store black_queens

Stored 'white_openings' (DataFrame)
Stored 'white_e4' (DataFrame)
Stored 'white_d4' (DataFrame)
Stored 'white_c4' (DataFrame)
Stored 'white_Nf3' (DataFrame)
Stored 'first_move_for_black' (DataFrame)
Stored 'black_against_e4' (DataFrame)
Stored 'black_against_d4' (DataFrame)
Stored 'black_sicilian' (DataFrame)
Stored 'black_italian' (DataFrame)
Stored 'black_caro' (DataFrame)
Stored 'black_french' (DataFrame)
Stored 'black_indian' (DataFrame)
Stored 'black_queens' (DataFrame)

In [128]:
connection.close()

In [129]:
black_italian

   black_bool  count
1         1.0     18
0         0.0     13